html, body {
    margin: 2em 1em;
    padding: 0;
    background-color: black;
    color: grey
}

button{
    background-color: green;
    color: white;
    padding: 0.5em 1em;
    margin: 2em 0;
    border: none;
    border-radius: 5px
}
.password{
    background-color: white;
    color: black;
    padding: 0.5em 1em;
    margin-top: 2em;
}